<div class="login-page">
  <div class="login-wrapper">
    <div class="login-panel">

      <h3>Welcome to Sample application</h3>

      <form class="login-form" #form="ngForm">

        <mat-form-field class="full-width">
          <input matInput placeholder="Username" [(ngModel)]="username" name="username" ngModel autocomplete="off"
            required>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" id="password" required
            name="password" ngModel>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>

        <button [disabled]="!form.valid || working" class="full-width login-button" mat-raised-button (click)="login()"
          color="primary">
          <div *ngIf="!working">Log In</div>
          <div class="centered" *ngIf="working">
            Trying to log in... &nbsp;
            <mat-icon>
              <mat-spinner diameter="20">
              </mat-spinner>
            </mat-icon>
          </div>
        </button>

        <div class="errors">
          <mat-error class='mat-small' *ngIf="errorMessage">{{errorMessage}}</mat-error>
        </div>

      </form>

    </div>

    <div class="login-admin">Log in as&nbsp;<span class="link">super user</span></div>
  </div>
</div>
